@import '../elements/variables.scss';

$box-shadow-size: $base-rhythm / 2;

.section {
  padding: $base-rhythm * 2;
  border: 2px solid $border-color;
  box-shadow: $box-shadow-size $box-shadow-size 0 0 $border-color;
}