/*
From MDN:
The :root CSS pseudo-class matches the root element of a tree representing the document.
In HTML, :root represents the <html> element and is identical to the selector html,
except that its specificity is higher.
*/

:root {
  // background-color: var(--color-light);
  // color: var(--color-dark);
  background-color: var(--page-bg);
  color: var(--text-color);
}

.smooth-scroll {
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  max-width: var(--measure);
}

html,
body,
div,
code,
header,
nav,
main,
ul, ol,
table, tr, td,
footer {
  max-width: none;
}


body {
  background-color: var(--color-light);;
}