@mixin tile-grid($min, $max) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, $max));

  > * {
    display: block;
    width: 100%;
    box-shadow: 5px 5px 0 0 var(--color-mid);
  }
}