@import './variables-scss';

.centered {
  width: 100%;
  max-width: $tablet;
  padding: 0 var(--s2);
  margin: 0 auto;
  padding-bottom: 30px;
}

.stack {
  > * + * {
    margin-top: 1.5rem;
  }
  > * + code {
    margin-top: 1.5rem;
  }
}

.stack-small {
  > * + * {
    margin-top: 0.5rem;
  }
  > * + code {
    margin-top: 0.5rem;
  }
}

.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--color-lightish);
}

.cover > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover > :first-child:not(h1) {
  margin-top: 0;
}

.cover > :last-child:not(h1) {
  margin-bottom: 0;
}

.cover > h1 {
  margin-top: auto;
  margin-bottom: auto;
}