@import './variables';

.vr_h { margin-bottom: $base-rhythm / 2; }
.vr_1 { margin-bottom: $base-rhythm * 1; }
.vr_2 { margin-bottom: $base-rhythm * 2; }
.vr_3 { margin-bottom: $base-rhythm * 3; }
.vr_4 { margin-bottom: $base-rhythm * 4; }
.vr_5 { margin-bottom: $base-rhythm * 5; }
.vr_6 { margin-bottom: $base-rhythm * 6; }
.vr_7 { margin-bottom: $base-rhythm * 7; }
.vr_8 { margin-bottom: $base-rhythm * 8; }
.vr_9 { margin-bottom: $base-rhythm * 9; }

.hr_h { margin-right: $base-rhythm / 2; }
.hr_1 { margin-right: $base-rhythm * 1; }
.hr_2 { margin-right: $base-rhythm * 2; }
.hr_3 { margin-right: $base-rhythm * 3; }
.hr_4 { margin-right: $base-rhythm * 4; }
.hr_5 { margin-right: $base-rhythm * 5; }
.hr_6 { margin-right: $base-rhythm * 6; }
.hr_7 { margin-right: $base-rhythm * 7; }
.hr_8 { margin-right: $base-rhythm * 8; }
.hr_9 { margin-right: $base-rhythm * 9; }