@import '../tools/layout-mixins';

.page-footer {
  // The footer inverts our page colors
  background-color: var(--color-darkish);
  color: var(--color-light);
  padding: var(--s0);

  position: sticky;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .hdg, ul {
    margin-bottom: 0;
  }

  @media (max-width: $tablet) {
    display: block;

    ul { padding-left: 0; }
  }
}