@import '../tools/layout-mixins';

.section {
  @include stack(1rem);
  padding: var(--s-1);
  border: 2px solid var(--color-mid);
  box-shadow: 5px 5px 0 0 var(--color-mid);
}

@mixin section {
  @include stack(1rem);
  padding: var(--s-1);
  border: 2px solid var(--color-mid);
  box-shadow: 5px 5px 0 0 var(--color-mid);
}