@import './section';
@import '../2-Tools/layout-mixins';

#alerts-container {
  position: fixed;
  top: var(--s0);
  width: 100%;
  padding: var(--s-1);
  @include stack(1.25rem);
}

.alert {
  @include section();
  text-align: center;
}

.alert--fade-out {
  opacity: 0;
}

.alert--primary {
  background-color: var(--color-primary);
  color: var(--page-bg);
}

.alert--danger {
  background-color: var(--color-danger);
  color: var(--page-bg);
}

.alert--success {
  background-color: var(--color-success);
  color: var(--page-bg);
}

.alert--info {
  background-color: var(--color-info);
  color: var(--text-color);
}