.ribbon {
  width: 100vw;
  margin: var(--s0) 0;
  padding: var(--s0);
}

.ribbon--primary {
  background-color: var(--color-primary);
}

.ribbon--pastel-yellow {
  background-color: #fdfd96;
}

.ribbon--pastel-green {
  background-color: #CAFD96;
}