a {
  text-decoration: none;
  border-bottom: none;
  transition: none;
  color: inherit;
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

.block-link {
  display: block;
  max-width: none;
}

.link {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.1s;
  color: var(--color-link);
}

// Martin says consider giving this a class name rather,
// otherwise keep it as styling the a tag, and just know
// you'll have to add new classes later.

.link:hover,
.link:focus,
.link:active {
  outline: 0;
  border-color: var(--color-link);
}

.link:visited {
  color: var(--color-link);
}

.link--dark {
  &:hover,
  &:focus,
  &:active {
    border-color: var(--color-lightish);
  }
  &:visited {
    color: var(--color-lightish);
  }
}