@import '../settings/variables';

:root {
  line-height: var(--line-height);
  font-family: var(--font-main);
  font-size: var(--font-size); // calc(.333vw + 1rem);
    // this will set the font-size that all "rem" calculations base off. of
    // Using calc and vw ensures the font-size scales for the entire document
    // since any rem values will scale off of this font-size.

  // font-size: 1em;
    // this would set the font-size to the device specific standard of 1em,
    // in Chrome this would be 16px, on a phone it might be smaller.
    // The problem with using this method is that the font is not responsive:
    // sizes would be fixed for all viewports. For a phone, that's fine,
    // users can't resize their phone screen, but for web browsers it poses
    // a problem, so 1em (or any fixed size), is not desirable.
}

h1, h2, h3, h4, h5, h6, button {
  font-family: var(--font-contrast-from-main);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
p, h1, h2, h3, h4, h5, h6, li, figcaption {
  max-width: var(--max-measure);
  margin: 0;
}

code {
  margin: 0;
  font-size: var(--s-1);
  display: block;
  background-color: #ccc;
  padding: var(--s-1);
  border-radius: 1px;
  font-family: monospace;
}

// text-large and text-small are their own BEM classes, not modifiers of text.
.text       { font-size: var(--s0); }
.text-large { font-size: var(--s1); }
.text-small { font-size: var(--s-1); }
h3         { font-size: var(--s2); }
h2         { font-size: var(--s3); }
h1         { font-size: var(--s4); }
h1, h2, h3 {
  strong { font-size: 1.125em; } // em so they grow relative to the heading size
  i, svg { font-size: 0.75em; } // em so they shriunk relative to the heading size
}

/* OTHER TEXT UTILS */
.text-centered {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}

sup {
  vertical-align: top;
}

.ruled {
  border-bottom: 1px solid var(--text-color);
}