@mixin stack($margin) {
  > * + * {
    margin-top: $margin;
  }
  > * + code {
    margin-top: $margin;
  }
}

@mixin cluster($margin, $justification) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justification;
  > * + * {
    margin-left: $margin;
  }
}

@mixin tile-grid($min, $max) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, $max));

  > * {
    display: block;
    width: 100%;
    box-shadow: 5px 5px 0 0 var(--color-mid);
  }
}