.btn {
  border: 2px solid var(--color-dark);
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-main);
  font-size: var(--s0);
  padding: var(--s-2);
  background-color: transparent;

  &:hover, &:focus {
    outline: 0;
    text-decoration: underline;
  }
  &:active {
    transform: translateY(2px) translateX(2px);
  }
}

.btn--larger {
  font-size: var(--s1);
  padding: var(--s-1);
}

.btn--largest {
  font-size: var(--s2);
  padding: var(--s0);
}

.btn--primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: 2px 2px 0 0 var(--color-primary);
  &:active {
    box-shadow: 0px 0px 0 0 var(--color-primary);
  }
}

.btn--danger {
  color: var(--color-danger);
  border-color: var(--color-danger);
  box-shadow: 2px 2px 0 0 var(--color-danger);
  &:active {
    box-shadow: 0px 0px 0 0 var(--color-danger);
  }
}

.btn--cancel {
  color: var(--color-mid);
  border-color: var(--color-mid);
  box-shadow: 2px 2px 0 0 var(--color-mid);
  &:active {
    box-shadow: 0px 0px 0 0 var(--color-mid);
  }
}

.btn--link {
  height: auto;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  padding: 0;
  transition: border-color 0.1s;
  bottom: 0;
  color: var(--color-link);
  &:hover,
  &:focus,
  &:active {
    border-color: var(--color-link);
    color: var(--color-link);
    background-color: transparent;
    text-decoration: none;
    transform: none;
  }
}

.btn--link-dark {
  color: var(--color-lightish);
  &:hover,
  &:focus,
  &:active {
    color: var(--color-lightish);
    border-color: var(--color-lightish);
  }
}