@import '../2-Tools/layout-mixins';

ul, ol { list-style-position: inside; }
ol { list-style-type: decimal; }

.v-list, .h-list {
  padding-left: var(--s0);
}

.v-list {
  @include stack(0.5rem);
}
.v-list--no-padding {
  padding-left: 0;
}
.v-list--list-style-square {
  list-style-type: square;
}
.v-list--list-style-disc {
  list-style-type: disc;
}

.h-list {
  display: flex;
  padding-left: 0;
  > li {
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.h-list--wrap {
  flex-wrap: wrap;
  > li {
    margin-bottom: 0.5rem;
  }
}